*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--main-beige-color);
    background-color: var(--main-beige-color);
    font-family: 'Montserrat', sans-serif;
    font-family: 'Playfair Display', serif;
}
:root{
    --main-red-color: #C61313;
    --main-green-color: #06510f;
    --main-beige-color: #FBFBF3;
}

input:focus, textarea:focus, select:focus{
    outline: none;
}
input::placeholder{
    color: var(--main-beige-color);
    font-size: 20px;
}
body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}
header{
    height: 20%;
}
main{
    width: 100%;
    height: 80%;
    position: relative;
}

/* MAIN TITLE STYLES */
.Main-Title-Container{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 75vw;
}
.Main-Title-Div{
    display: flex;
    justify-content: center;
    background-color: var(--main-red-color);
    margin-top: 10px;
}
.Secondary-Div{
    height: 5px;
}
.White-Space{
    width: 25%;
}
.Title-Container{
    padding: 10px;
}
.Main-Title{
    background-color: unset;
    font-size: 22px;
}


.Assets-Container{
    position: relative;
    width: 100%;
    height: 100%;
}
.Input-Container{
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.Main-Input{
    border: none;
    width: 50%;
    background-color: var(--main-red-color);
    border-radius: 30px;
    padding: 22px 15px;
}
.Asset-Item{
    position: absolute;
    bottom: 0;
}
.Chrithmas-Tree-Left{
    height: 75%;
    left: -140px;
}
.Chrithmas-Tree-Right{
    height: 75%;
    right: -140px;
}
.Gift-Box{
    z-index: 20;
    width: 8%;
}
.Gift-Box-1{
    left: 80px;
} 
.Gift-Box-2{
    left: 130px;
    width: 12%;
}
.Gift-Box-3{
    right: 80px;
}